body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
#page-header {
  background-image: url(static/page_header.png);
  height: 65vh;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  background-attachment: fixed;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
@media screen and (max-width: 700px) {
  #page-header {
    height: 45vh !important;
  }
}

/* Horizontal list*/
nav {
  position: relative;
  top: 5vh;
}
.horizontal-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.text-center {
  text-align: center;
}
.horizontal-list li {
  display: inline;
  margin: 0px 8px 8px 0px;
}

.horizontal-list a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
@media screen and (max-width: 700px) {
  .horizontal-list a {
    font-size: 0.8rem !important;
  }
}
.nav a {
  transition: color 0.5s;
}

.nav a:hover {
  color: rgb(237, 232, 232);
  text-decoration: underline;
}

/* Name and Social Section*/
#my-name {
  color: white;
  margin-bottom: 2vh;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
#name-social {
  position: relative;
  top: 10vh;
}
.icon a i {
  padding: 10px;
  border-radius: 50%;
}

.icon a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(239, 236, 236, 0.5);
}
@media screen and (max-width: 700px) {
  #name-social {
    top: 13vh !important;
  }
  #my-name {
    font-size: 2.1rem !important;
  }
}

#about {
  position: relative;
  margin-top: 30px;
  top: 3vh;
}

#dp {
  width: 200px;
  margin: auto;
  margin-top: -20vh;
}
#dp img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 4px rgba(239, 236, 236, 0.5);
}
#about-me {
  margin: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
section:nth-child(2n + 1) {
  background-color: white;
}

section:nth-child(2n) {
  background-color: rgb(231, 235, 248);
}

.mb30px {
  margin-bottom: 30px;
}
.section-heading {
  width: auto;
  padding: 20px 10px 10px;

  font-weight: 400;
}
.section-heading span {
  margin-right: 0.5rem;
  color: rgb(10, 10, 119);
  font-size: 22px;
  font-weight: 900;
}
.skills-display {
  margin-top: 0px;
  width: 70%;
  /* height: auto; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 20px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.skill-progress {
  margin: auto;
  background-color: lightgray;
  /* border-radius: 40%; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /* border-color: rgb(10, 10, 119); */
  /* border-style: solid; */
  width: 150px;
  height: 30px;
  position: relative;
  box-shadow: 0.1px 0.5px 2px 0.1px;
  font-size: 11px;
  overflow: hidden;
}

.skill-title {
  position: absolute;
  top: 7.5px;
  left: 5px;
  color: white;
}
#Java-progress {
  background-color: rgb(234, 156, 53);
  width: 90%;
}
#python-progress {
  background-color: rgb(54, 57, 240);
  width: 40%;
}
#c-progress {
  background-color: rgb(194, 84, 203);
  width: 80%;
}
#git-progress {
  background-color: rgb(88, 39, 156);
  width: 50%;
}
#flutter-progress {
  background-color: rgb(204, 5, 21);
  width: 45%;
}
#dart {
  background-color: rgb(52, 201, 151);
  width: 50%;
}

#html-progress {
  background-color: rgb(204, 5, 21);
  width: 85%;
}
#css-progress {
  background-color: rgb(54, 57, 240);
  width: 70%;
}
#javascript {
  background-color: rgb(194, 84, 203);
  width: 60%;
}
#bootstrap {
  background-color: rgb(234, 156, 53);
  width: 70%;
}
#nodeJs-progress {
  background-color: rgb(88, 39, 156);
  width: 0%;
}
#react-progress {
  background-color: rgb(52, 201, 151);
  width: 0%;
}
.progress {
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  height: inherit;
}

#contact {
  background-image: linear-gradient(
    50deg,
    rgba(40, 26, 126, 0.9),
    rgba(89, 36, 170, 1),
    rgba(82, 15, 118, 0.9)
  );
  height: auto;
  width: auto;
  padding-bottom: 20px;
}
#contact-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 7vw;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#contact .section-heading span {
  color: white;
}
#contact-form input,
#contact-form button,
#contact-form textarea {
  display: block;
  margin-top: 30px;
  background-color: transparent;
  border-color: white;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 14px;
  width: 300px;
  color: white;
}

#contact-form button {
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 7px;
  width: 120px;
}

#contact-form button:hover {
  box-shadow: 0px 0px 5px 2px rgb(152, 98, 234);
}
#contact-section li {
  color: white;
  font-size: small;
}
::placeholder {
  color: lightgrey;
}
#contact-form input,
#contact-form textarea:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

/* timeline*/

.timeline {
  /* border: 1px solid black; */
  width: 75%;
  height: auto;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.timeline-box {
  /* border: 1px solid black; */
  width: 35vw;
  min-width: 260px;
  min-height: 60px;
  position: relative;
  margin: 5px;
  padding: 5px;
  left: 5%;
  display: flex;
}

.timeline-box:nth-child(even) {
  left: 60%;
}

.timeline img {
  height: 50px;
  width: 50px;
}
.desc {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  margin: 0px;
  top: 5px;
}
.subtitle {
  top: 5px;
  position: relative;
  margin: 0px;
  bottom: 0px;
  font-size: 11px;
  color: rgb(72, 71, 71);
}
.date {
  top: 5px;
  position: relative;
  color: rgb(72, 71, 71);
  font-size: 10px;
}
/* vertical line */
.vl {
  border-left: 1px dashed grey;
  top: 20px;
  height: 74.5%;
  position: absolute;
  left: 50%;
  width: 7.8px;
}
@media screen and (max-width: 830px) {
  .vl {
    left: 2%;
  }
  .timeline-box {
    left: 8% !important;
  }
}
/* @media screen and (max-width: 600px) {
  .vl {
    left: 90%;
  }
  .timeline-box:nth-child(even) {
    left: 5%;
  }
} */
/* .timeline-box:nth-child(odd)::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -1.75vw;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
}
.timeline-box:nth-child(even)::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -26.7vw;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
} */
.plane {
  position: sticky;
  top: 30%;

  color: rgb(10, 10, 119);

  transform: rotate(180deg);
}
/* Certifications */
.container {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
}
.container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.container-box img {
  width: 350px;
  height: 250px;
}

.container-title {
  margin: 10px;
  font-weight: bold;
  color: rgb(10, 10, 119);
  font-size: 13px;
}
.container-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 0px;
  background: linear-gradient(transparent, rgba(40, 26, 126, 0.7));
  color: transparent;
  /* top: 250px; */
  bottom: 35px;
  left: 0px;
  text-align: center;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container-box:hover .container-details {
  /* background-color: aqua; */

  height: 250px;
  color: white;
  font-weight: 900;
}
.container-details a {
  text-decoration: none;
  color: white;
}

.container-details a:hover {
  color: black;
}
