.box {
  margin-left: 350px;
  padding-top: 180px;
  width: 913px;
  padding-left: 50px;
  background-image: url(img7.jpg);
  background-size: 1000px 1700px;
}

.social {
  margin-left: 950px;
}
.intro {
  position: fixed;
  margin-left: 0px;
  margin-bottom: 200px;
  background-image: url(img7.jpg);
  background-size: 1000px 1700px;
  margin-top: 61px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 0.5mm;
  border-style: outset;
  border-color: white;
}
.nav {
  position: fixed;
}
.foot {
  position: sticky;
}
